.mini_profil{
    width : 450px;
    height : 280px;
    margin-left:250px;
    float:left;
    margin-bottom: 20px;
}

.photo_profil{
    display:block;
    float:left;
    width : 200px;
    height : 280px;
}

.photo_profil img{
    border:2px solid #4D4D4D;
    display:block;
    width : 196px;
    height : 276px;
}

.titre_accueil{
    text-align : center;
    margin-top : 10px;
    margin-bottom : 30px;
    font-weight : bold;
    font-size: 17px;
    font-family: Tahoma;
    line-height: 180%;
}

.size_desc_mini_profil_slider{
    width:250px;
    height : 280px;
}

.details_profil{
    margin-left: 200px;
    padding-top: 10px;
    padding-left: 20px;
    font-family: Tahoma;
    font-size:14px;
    line-height: 180%;
}