.mini_profil{
    width : 800px;
    height : 280px;
    clear:both;
    margin-bottom: 20px;
    border:3px solid #F2E8F0;
}

.decalage{
    margin-left: 200px;
}

.photo_profil{
    display:block;
    float:left;
    width : 198px;
    height : 278px;
    border:2px solid black;
}

.photo_profil img{
    display:block;
    width : 198px;
    height : 278px;
}


.details_profil{
    margin-left: 200px;
    padding-top: 10px;
    padding-left: 20px;
    width : 580px;
    height : 270px;
    font-family: Tahoma;
    font-size:14px;
    line-height: 180%;
}