#slider ul, #slider li{
    list-style:none;
}

#slider{
    margin-top: 40px;
}

#slider a{
    text-decoration: none;
}

#slider li, #slider ul{
    margin:0 auto;    
}

#slider, #slider li, #slider ul{
    height:274px;
    width:1000px;
    overflow:hidden;
}

#prevBtn,#nextBtn{
    display:block;
    float : left;
    width: 500px;
}

#prevBtn a{
    float:right;
}

#nextBtn a{
    float:left;
}

#prevBtn a,#nextBtn a{
    text-decoration: none;
    color: #000000;
    font-family:calibri;
    font-size: 18px;
}

.short_film{
    margin-left:200px;
}