<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>CineBook</display-name>
    <servlet>
        <servlet-name>ServletVisiteur</servlet-name>
        <servlet-class>com.cineteam.cinebook.web.servlets.ServletVisiteur</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletVisiteur</servlet-name>
        <url-pattern>/ServletVisiteur</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletMembre</servlet-name>
        <servlet-class>com.cineteam.cinebook.web.servlets.ServletMembre</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletMembre</servlet-name>
        <url-pattern>/ServletMembre</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/WEB-INF/index.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/BDCVtheque</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
